
p {
  margin: 3px 0;
}

.row {
  display: inline-block;
}

.welcome_cnt  {
  display: flex;
  flex-flow:  row nowrap;
  align-items: center;
  justify-content: space-between;

}

.bgr_color_switch_cnt {
  display: inline-block;
}

#bgr_switch_btn {
  background-color: #b6e965;
}

.gradebook_frame {
}

.gradebook_frame div {
  margin-top: 0.3rem;
}

.score-add-form {
  outline: 2px solid salmon;
}

#name-input-alert, 
#surname-input-alert, 
#score-comment {
  color: red;
  display: none;
  
}

.entries_cnt {
  border: 1px solid green;
}
